@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;500;600&family=Inter:wght@400;500;600&family=Lora:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(/images/wavy-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.glass-morph {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 4px 26px 0 rgba(196, 196, 196, 0.37);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}